.add-button {
	background-color: rgb(43, 205, 226);
	width: fit-content;
	padding: 15rem;
	border-top-right-radius: 15rem;
	border-bottom-right-radius: 15rem;
	cursor: pointer;
	outline: none;
	border: none;
	transition: all 0.3s;
	color: #fff;
}

.add-button:hover {
	background-color: rgb(33, 163, 180);
}
